#pizza-name {
  width: 30%;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

#show-pizza {
  display: none;
}

.pizza {
  cursor: pointer;
  color: #0088cc;
}

.pizza:hover {
  text-decoration: underline;
}

li {
  font-size: 1.3em;
  font-weight: bold;
}
